.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--my-pink);
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    min-height: 30px;
  
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
    /* z-index: 800; */
   
}

.main-nav a:hover{
  opacity: 0.6;
  
}
.main-nav a:focus{
  color: rgb(173,150,57)
}


h1 > a{
  padding-left: 20px;
}

.main-nav{
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
}
.main-nav a:first-child{
  margin-right: 6px;
}
.main-nav a{
  margin: 0 6px
}

div.searchbox{
  display: flex;
  align-content: space-between
}
.searchbox input{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border:  rgb(173,150,57) 2px solid
}
.search__icon{
  margin-top: 5px;
  padding: 4px;
  cursor: pointer;
}


@media (max-width: 769px) {
	.navbar,
	.main-nav, .searchbox {
    flex-direction: column;
    align-items: center;
  }
  .main-nav a{
    align-self: center;
    display: block;
    text-align: center;
  }
}

@media (min-width: 1025px) {
	.navbar {
		flex-direction: row;
		justify-content: space-between;
	}

}









