/* Grid */
.grid-gallery {
    width: 1200px;
    margin : 20px auto;
    columns: 4;
    column-gap: 10px
}
.grid-gallery .image{
    width: 100%;
    margin: 0 ;
    padding: 10px;
    overflow: hidden;
    break-inside: avoid;
    background-color: #fff;
    cursor: pointer;
}

.grid-gallery .image img{
    border-radius: 7px;
    max-width: 100%;
}
.grid-gallery .image h2{
    margin: 2px 0 0;
    padding: 0;
    font-size: 20px
}

 .grid-gallery .btn {
    position: relative;
    top: 60%;
    left: 45%;
    padding: 5px 5px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
    opacity: 0;
    font-weight: 700;
    /* transition: opacity .35s ease; */
    width: 100px;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    background-color: #fff;
    z-index: 1;
  } 
  .image:hover .btn {   
    opacity: 1;
  }
  .image:hover{
      opacity: 0.8;
  }
.pin{
    position: relative;
    opacity: 0;
    transform: translate(100%,-270%);
    color: red;
    width: 30px;
    
}
.image:hover .pin {   
    opacity: 1;
  }

@media (max-width: 1200px){
    .grid-gallery{
        columns: 3;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0
    }
}
@media (max-width: 768px){
    .grid-gallery{
        columns: 2;
        
    }
}
@media (max-width: 480px){
    .grid-gallery{
        columns: 1;
        
    }
}



