.Pins_Gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    border-radius: 5px;
    padding: 10px 10px;
}

.ImageItem:hover{
    opacity: 0.8;
}

.ImageItem.delete{
  /* position: absolute;
  top: 10px; */
 
  /* transform: translate(100%,-270%); */
  
  
}
.ImageItem:hover .delete {   
  opacity: 1;
}




